In [1]:
import pandas as pd

In [2]:
df = pd.read_html('http://sos.ga.gov/elections/election_results/2008_0715/swgahouse.htm')

In [3]:
fullnames = df[1]

In [4]:
fullnames.shape

(1793, 62)

In [5]:
fullnames.head(5)

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
0,"State Representative, District 1 100% of prec...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Republican Candidates Votes % of Votes Jay Ne...,NaN,Republican Candidates,Votes,% of Votes,NaN,NaN,Jay Neal,NaN,2062.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Republican Candidates,Votes,% of Votes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Jay Neal,NaN,2062,100.0%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Totals,2062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
fullnames = fullnames[fullnames.columns[[0,1,3,4]]]

In [7]:
fullnames.head(5)

,0,1,3,4
0,"State Representative, District 1 100% of prec...",NaN,NaN,NaN
1,Republican Candidates Votes % of Votes Jay Ne...,NaN,Votes,% of Votes
2,NaN,Republican Candidates,% of Votes,NaN
3,NaN,Jay Neal,2062,100.0%
4,NaN,Totals,NaN,NaN

In [8]:
fullnames.columns = ['district', 'candidate', 'votes', 'percent']

In [9]:
fullnames.head()

,district,candidate,votes,percent
0,"State Representative, District 1 100% of prec...",NaN,NaN,NaN
1,Republican Candidates Votes % of Votes Jay Ne...,NaN,Votes,% of Votes
2,NaN,Republican Candidates,% of Votes,NaN
3,NaN,Jay Neal,2062,100.0%
4,NaN,Totals,NaN,NaN

In [10]:
fullnames.to_csv('2008_state_house_fullname.csv', index=False)